# V2V Core & Telemetry
pyserial>=3.5
numpy>=1.26.0

# Server / Networking
aiohttp>=3.9.0

# Computer Vision & Road Safety Pipeline
opencv-python>=4.9.0
Pillow>=10.0.0
torch>=2.2.0
torchvision>=0.17.0
ultralytics>=8.2.0

# Testing & Utilities
pytest>=8.0.0
roboflow>=1.1.0
numpy==2.3.5
pygame-ce==2.5.8
